.lave {
    background-image: url(images/lave.jpg);
    color: transparent;
}

.herbe {
    background-image: url(images/herbe.jpg);
    color: transparent;
}

    


.J1 {
    color: transparent;
    background-color: rgb(0, 255, 242);
    background-image: none;
    border-radius: 20px;
}

.J2 {
    color: transparent;
    background-color: rgb(255, 251, 0);
    background-image: none;
    border-radius: 20px;
}

html {
    background-color: white;
}

head {
    border-radius: 5%;
    background-color: rgb(1, 0, 3);
    border: black solid 10px;
    margin: 5%;
    width: 75%;
    padding: 5%;
}

h1 {
    color:red;
    font-family: fantasy;
    font-size: 100px;
}

body {
    border-radius: 5%;
    background-color: black;
    border: black solid 10px;
    margin: 5%;
    width: 75%;
    padding: 5%;
}